<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
        <!-- Send only TRACE, DEBUG, and INFO messages to stdout -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
        <!-- Send warnings and errors to stderr -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
    </root>
    <!--
        Enabling ALL trace messages will probably lead to too much noise.
        Instead, selectively enable trace messages for just the classes you're
        interested in.
        (The current list is obviously not exhaustive: add a new line if your
        class isn't here yet.)
    -->
    <logger name="mhir.ir.StreamFuser$" level="INFO"/>
    <logger name="mhir.ir.Let$" level="INFO"/>
    <logger name="mhir.optimize.StmBuildSimplifier$" level="INFO" />
    <logger name="mhir.optimize.StmLatencyMatcher$" level="INFO" />
    <logger name="mhir.optimize.NameSimplifier$" level="INFO" />
    <logger name="mhir.optimize.EnabledLetStmSimplifier$" level="INFO" />
</configuration>
