<configuration>
   <!-- Deduplicate messages -->
    <turboFilter class="ch.qos.logback.classic.turbo.DuplicateMessageFilter"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%-5level] %msg%n</pattern>
        </encoder>
        <!-- Send only TRACE, DEBUG, and INFO messages to stdout -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>[%-5level] %msg%n</pattern>
        </encoder>
        <!-- Send warnings and errors to stderr -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
    </root>
    <!--
        Enabling ALL trace messages will probably lead to too much noise.
        Instead, selectively enable trace messages for just the classes you're
        interested in.
        (The current list is obviously not exhaustive: add a new line if your
        class isn't here yet.)
    -->
    <logger name="mhir.ir.StreamFuser$" />
    <logger name="mhir.ir.Let$" />
    <logger name="mhir.optimize.StmBuildSimplifier$" />
    <logger name="mhir.optimize.StmLatencyMatcher$" />
    <logger name="mhir.optimize.NameSimplifier$" />
    <logger name="mhir.optimize.EnabledLetStmSimplifier$" />
    <logger name="mhir.optimize.PartialEvalPass$" />
    <logger name="mhir.parse.sirop.Parser$" />
</configuration>
