# The Sphinx framework
# Stick to version 8.2 because that's the latest one available at https://github.com/ammaraskar/sphinx-action
sphinx == 8.2
# Markdown parser
myst-parser == 5.1
# Website theme
sphinx-book-theme == 1.2
